* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root:has(.dark.hide-theme) {
  font-size: 62.5%;
  --bg-color: hsl(240, 5%, 7%);
  --svg-color: hsl(240, 7%, 78%);
  --bg-card: hsl(240, 6%, 17%);
  --bg-card-hide: hsl(195, 74%, 15%);
  --svg-color-hide: hsl(0, 0%, 100%);
}

:root:has(.light.hide-theme) {
  font-size: 62.5%;
  --bg-color: hsl(240, 0%, 100%);
  --svg-color: hsl(240, 6%, 21%);
  --bg-card: hsl(240, 9%, 89%);
  --bg-card-hide: hsl(194, 97%, 31%);
  --svg-color-hide: hsl(240, 0%, 100%);
}

body {
  display: grid;
  font-family: 'Roboto', sans-serif;
  color: var(--svg-color);
  background-color: var(--bg-color);
  min-height: 100vh;
}

main {
  justify-self: center;
  align-self: center;
  display: flex;
  gap: 19.2rem;
}

.timer {
  display: grid;
}

.time {
  display: flex;
  align-items: flex-end;
}

.time span {
  font-weight: 500;
  font-size: 12.6rem;
  line-height: 14.8rem;
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--bg-color);
}

button svg path {
  fill: var(--svg-color);
}

.buttons {
  display: flex;
  width: 4.8rem;
  height: 4.8rem;
  gap: 4rem;
}

.sounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.2rem;
}

.card {
  background-color: var(--bg-card);
  border-radius: 2.4rem;
  width: 13.8rem;
  height: 15.2rem;
}

.hide {
  background-color: var(--bg-card-hide);
}

.hide-buttons svg path{
  fill: var(--bg-card-hide);
}

.hide svg path {
  fill: var(--svg-color-hide);
}

.hide-theme {
  display: none;
}

.theme {
  position: fixed;
  top: 6rem;
  right: 6rem;
}

input[type='range'] {
  appearance: none;
  display: flex;
  width: 11rem;
  margin: 2rem auto 0;
  display: flex;
  background: var(--svg-color);
  height: 0.8rem;
  border-radius: 50rem;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none; 
  width: 1.5rem;
  height: 1.5rem;
  background: var(--svg-color);
  border-radius: 50rem;
  border: 1px solid var(--bg-color);
}

@media (max-width: 768px) {
  main {
    display: grid;
    padding: 3.2rem;
    width: auto;
    height: auto;
    gap: 5rem;
  }

  .theme {
    top: 3.5rem;
    right: 3.5rem;
  }
  

  .timer {
    display: grid;
  }

  .time span {
    font-size: 10rem;
  }

  .buttons {
    gap: 1.8rem;
  }

  .card {
    width: 11.8rem;
    height: 13.2rem;
  }
  
  .sounds {
    grid-gap: 1rem;
  }
}